<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {{#if album.Title}}
    {{album.Title}} - 
    {{/if}}
    rimgo
    </title>

  {{> partials/head }}

  <link rel="stylesheet" href="/static/fonts/Material-Icons-Outlined.css" />
  <link rel="stylesheet" href="/static/css/album.css" />
  <link rel="stylesheet" href="/static/css/comments.css" />

</head>

<body>
  {{> partials/header }}

  <main>
    <h1>{{album.Title}}</h1>

    <p>{{album.CreatedAt}}</p>

    <div class="imageMeta__wrapper">
      {{#if album.User.Username}}
      <div class="user">
        <a href="/user/{{album.User.Username}}">
          <img src="{{album.User.Avatar}}" class="pfp" width="36" height="36" loading="lazy" />
        </a>
        <a href="/user/{{album.User.Username}}">
          <p>
            <b>{{album.User.Username}}</b>
          </p>
        </a>
      </div>
      {{/if}}
      <div class="imageMeta">
        <div class="imageMeta__item">
          <span class="material-icons-outlined" title="Views">visibility</span>
          <p>{{album.Views}}</p>
        </div>
        {{#if album.SharedWithCommunity}}
        <p><span class="material-icons-outlined" title="Likes">thumb_up</span> {{album.Upvotes}}</p>
        <p><span class="material-icons-outlined" title="Dislilkes">thumb_down</span> {{album.Downvotes}}</p>
        {{/if}}
      </div>
    </div>

    <br>

    {{#each album.Media}}
    {{#if this.Title}}
    <h3>{{this.Title}}</h3>
    {{/if}}
    {{#if this.Description}}
    <p>{{this.Description}}</p><br>
    {{/if}}

    <div class="center">
      {{#equal this.Type "image"}}
      <img src="{{this.Url}}" loading="lazy">
      {{/equal}}
      {{#equal this.Type "video"}}
      <video controls loop>
        <source type="{{this.MimeType}}" src="{{this.Url}}" />
      </video>
      {{/equal}}
    </div>

    <br>
    {{/each}}

    {{#if comments}}
    <div>
      <hr>
      <input id="comments__expandBtn" type="checkbox">
      <label class="comments__expandBtn__label" for="comments__expandBtn">
        <h3>Comments ({{album.Comments}})</h3>
        <span class="comments__expandBtn__icon material-icons-outlined"></span>
      </label>
      <div class="comments">
        {{#each comments}}
        {{> partials/comment }}
        {{/each}}
      </div>
    </div>
    <hr>
    {{/if}}
  </main>

  {{> partials/footer }}
</body>

</html>